doctype html
html
	head
		title WEB-MiHuerta
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
		style(type="text/css").
			body {
				background: green
			}
			

	body
		.container
			block content
			br
			hr
			footer
				p Copyright &copy; 2017